<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <!-- Add your stylesheets or other metadata here -->
</head>
<body>

<div style="text-align: center; margin-top: 50px;">
    <h1>Maximum Profiles Reached &#128577;</h1>
    <p>{{ error_message }}</p>
    <!-- You can add more details or customize the error message as needed -->
    <a href="http://127.0.0.1:8000/profile/detail/1/">Go back </a>
</div>

</body>
</html>
